<!DOCTYPE html>
<html>
<head>
    <title>Join {{ subdomain }} on Slack!</title>
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no" name="viewport">
    <link href="https://slack.global.ssl.fastly.net/272a/img/icons/favicon-32.png" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div class="splash">
        <div class="logos">
            <div class="logo org" style="background-image: url({{ logo }});"></div>
            <div class="logo slack"></div>
        </div>

        <p>Join <b>{{ subdomain }}</b> on Slack.</p>

        <p class="status"><b class="active">{{ users_active }}</b> users online now of <b class="total">{{ users_total }}</b> registered.</p>

        <form>
            <input autofocus="true" class="form-item" placeholder="you@yourdomain.com" type="email"><button class="loading">Get my Invite</button>
        </form>

        <footer>
            powered by <a href="http://github.com/acemod/slackin-python" target="_blank">slackin</a>
        </footer>

        <script src="https://cdn.socket.io/socket.io-1.3.2.js"></script>
        <script src="/static/superagent.js"></script>
        <script src="/static/client.js"></script>
    </div>
</body>
</html>
